:root {
  --max-width: 1100px;
  --cube-width: 5vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: 255, 255, 255;
    --text-primary: 21, 21, 21;
    --background-dark: 45, 45, 45;
    --text-dark: 243, 243, 243;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--text-primary));
  background-color: rgb(var(--background-primary));
}

header {
  margin-bottom: 2rem;
}

header h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.5rem;
}

ol {
  list-style-position: inside;
}

input {
  margin-right: 0.2rem;
}

button {
  cursor: pointer;
}

a {
  color: rgb(var(--text-primary));
  text-decoration-color: rgb(var(--background-primary));
}

a:hover {
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
  text-decoration-color: #f68904;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

/* p {
  margin: 10px 0;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: rgb(var(--text-dark));
    background-color: rgb(var(--background-dark));
  }

  a {
    color: #a7faff;
  }
} */
