.header {
  width: 80vw;
  margin: 0 auto 40px auto;
}

.title {
  text-align: center;
  font-size: 32px;
  margin: 40px 0;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.nav li {
  font-size: 20px;
  font-weight: bold;
}

.activeLink {
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
  text-decoration-color: #f68904;
}
