.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2rem;
  min-height: 100vh;
  margin: auto;
}

.colorPalette h2 {
  margin-bottom: 1rem;
}

.colorPalette {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.colorPickerSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 10rem;
}

.colourEditingTools {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.combinationsSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.colorPicker {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
}

.colourCombos {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.colorDisplay {
  width: 7rem;
  height: 7rem;
  aspect-ratio: 1/1;
  margin-right: 0.2rem;
}

.colorCombinationDisplay {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.5rem;
  position: relative;
  width: 7rem;
  height: 7rem;
  aspect-ratio: 1/1;
}

.contrast {
  font-size: 18px;
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
}

.largeText {
  font-size: 20px;
  font-weight: 700;
}

.normalText {
  font-size: 16px;
}

.nonText {
  width: 10%;
  min-width: 10px;
  border-radius: 50%;
  background-color: white;
}
