.main {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  margin: auto;
}

.colourChoices {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colorPickerSection {
  position: relative;
}

.colorPicker {
  position: absolute;
  left: 0;
}

.colourCombos {
  display: flex;
}

.colorDisplay {
  width: 100px;
  height: 100px;
}

.colorCombinationDisplay {
  position: relative;
  width: 100px;
  height: 100px;
}

.contrast {
  position: absolute;
  bottom: 0;
  right: 0;
}
